/**************************/
      /* General */
/**************************/

body {
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}

p {
	color: rgba(51, 51, 51, 0.89);
	font-family: 'Open Sans';
	line-height: 1.9em;
	font-size: 15px;
}
h1{
	font-size: 33px;
}

h5 {
	font-size: 24px;
	margin-top: 20px;
	color: #222
}

hr {
	text-align: center;
	display: block;
	float: none;
	border-top: 3px solid #0060C4;
	width: 10%;
	padding-bottom: 20px;
	margin-top: 0;
}



h2,
h4,
h3,
h1,
h5 {
	font-family: 'Montserrat', sans-serif;
}

a,
span,
p,
div.details ul li span,
button,
a.navbar-brand input,
textarea,
div.footer li,
div.about input,
span.post {
	font-family: 'Open Sans';
}


/*Spaces*/

div.about,
div.team,
div.footer,
div.department,
div.footer,
div.service,
div.logo {
	padding-top: 60px;
	padding-bottom: 70px
}


/*******************************/
      /* Navbar Section */
/*******************************/


nav.navbar {
	position: fixed ;
	min-height: 50px;
	border: 1px solid transparent;
	border-radius: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: transparent;
		

}


@media (max-width: 420px) {
	a.navbar-brand {
		font-size: 23px ;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

 .navbar-default.shrink {
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid transparent;
	border: transparent;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background-color: #015FC1;
} 


a.navbar-brand span {
	color: #0060C4;
	font-size: 30px;
	font-weight: 500;
}

a.navbar-brand img {
	display: inline-block;
	width: 50px;
}

@media (max-width: 767px) {
	.navbar-collapse,
	.navbar-default {
	background: linear-gradient(3deg, #003d7e, #087fff);
	background: -webkit-linear-gradient(3deg, #003d7e, #087fff);
	background: -o-linear-gradient(3deg, #003d7e, #087fff);
	background: -moz-linear-gradient(3deg, #003d7e, #087fff);
		border: 0px ;
	}
	nav.navbar{
	background: linear-gradient(3deg, #003d7e, #087fff);
	background: -webkit-linear-gradient(3deg, #003d7e, #087fff);
	background: -o-linear-gradient(3deg, #003d7e, #087fff);
	background: -moz-linear-gradient(3deg, #003d7e, #087fff);
	}
}

.navbar-collapse {
	box-shadow: none;
	border: 0px
}

.navbar-default .navbar-toggle {
	border-radius: 0px ;
	border: 1px solid #f5f5f5;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent ;
}

@media (min-width: 200px) and (max-width: 767px) {
	.navbar-default .navbar-nav>li>a {
		width: 114px;
		margin: auto;
	}
	.navbar-default .navbar-nav>li>a:hover:after {
		height: 1.5px ;
	}
}

@media (min-width: 200px) and (max-width: 366px) {
	a.navbar-brand {
		font-size: 17px ;
	}
	a.navbar-brand span {
		font-size: 13px ;
	}
}
 .navbar-default .navbar-nav>li>.active>a, .navbar-default .navbar-nav>li>.active>a:focus, .navbar-default .navbar-nav>li>.active>a:hover , .navbar-default .navbar-nav>li>a{
	color: #fff !important ;
	background-color: transparent !important;
	text-align: center;

} 

 .navbar-default .navbar-nav>li>a {
	color: #fff ;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	position: relative;
	ont-weight: bold;
    text-transform: uppercase;
}


.navbar-default .navbar-nav>li>a:after {
	content: "";
	position: absolute;
	bottom: 5px;
	width: 0px;
	height: 1.5px;
	margin: 2px 0 0;
	border:1px solid #fff;
	color: #fff;
	transition: all .4s ease-in-out;
	transition-duration: .5s;
	opacity: 0;
	left: 0;
}

.navbar-default .navbar-nav>li>a:hover:after,
.navbar-default .navbar-nav>.active>a:after {
	width: 100%;
	opacity: 1;
	color: #fff;
	background: transparent
}
.navbar-default .navbar-brand{
   color: #fff !important;
	    font-weight: bold !important;	
}
a.navbar-brand {
	left: 20px;
	position: relative;
	padding: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	 
}


/******************************/
       /* Head Section */
/******************************/

canvas {
	display: inline-block;
	vertical-align: top;
}

div.particles , div.head{
	height: 700px;
}

div.head {
	text-align: center;
	background: url(../images/head.jpg) no-repeat center center;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

div.head .container {
	position: absolute
}

div.header-text {
	position: relative;
	top: 315px;
	margin-top: -90px;
}

div.head .content {
	position: relative;
}

@media (max-width:477px) {
	div.head div.content h1 {
		font-size: 30px ;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		text-align: center;
	}
}

div.head h1 {
	display: inline-block;
	font-size: 40px ;
	line-height: 1.4;
	color: #fff ;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}



div.head h1 span {
	color: #0060C4;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
}




/****************************/
     /* About Section */
/***************************/

@media (max-width: 420px) {
	div.head div.form h2 img {
		display: block;
		padding-bottom: 10px;
	}
}

div.about div.form {
	background: url(../images/form.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 60px;
	padding-top: 28px;
}

div.about div.form input {
	border-radius: 0;
	border-bottom: 1px solid #fff;
}


div.about {
	background: rgba(204, 204, 204, 0.25);
	padding-bottom: 90px;
	padding-top: 60px;
}

div.about-us {
	padding: 30px;
	box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, .25);
	background: #fff;
}

div.about p.next i {
	padding: 6px;
	color: #0060C4;
}

div.about p.benefit {
	border-bottom: 1px solid #222;
	display: inline-block;
	font-size: 25px;
    margin-bottom: 25px;
    color: #222;
    height: 38px;
    margin-top: 20px;
}

div.about p.titles {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 17px;
}

div.form input:-moz-placeholder {
	color: #fff !important
}

div.form input::-webkit-input-placeholder {
	color: #fff !important
}

div.form input::-ms-input-placeholder {
	color: #fff !important
}

div.about p.title,
div.about p.titles {
	font-size: 22px;
}

div.about p.title {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 20px;
	display: inline-block;
	color: #fff;
}

div.about span.time {
	color: #fff;
	float: right;
}

div.about span.telephone {
	color: rgba(204, 204, 204, 0.94);
}

div.about div.time-div {
	height: 10px;
	width: 92%;
}

div.about h4 {
	border-bottom: 2px solid #0060C4 ;
	display: inline-block;
	margin-bottom: 19px;
	color: #0060C4;
}

div.open-container {
	    margin-top: 20px;
    margin-bottom: 20px;
}

div.about .third-row {
	padding-top: 40px;
}

div.about .cases {
	padding-left: 25px;
}

div.content-about {
	display: block;
	background: url(../images/doc.jpg) no-repeat;
	box-shadow: inset 0 0 0 2000px rgba(0, 42, 196, 0.79);
	background-position: left top;
	border: 0px !important;
	padding-bottom: 40px;padding-top: 10px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff !important;
}

div.content-about img {
	top: 16px;
	margin-left: 11px;
	padding: 4px;
	width: 50px;
	display: inline-block;
	position: relative;
}


@media(max-width:300px) {
	div.about p.title{
		font-size: 19px;
	}
}

div.about input {
	border-radius: 44px;
	padding-bottom: 29px;
	padding-top: 30px;
	border: 0;
	background: transparent;
	box-shadow: none;
	margin-bottom: 10px;
}
p.middle{
	border-left: 2px solid rgba(0, 42, 196, 0.79);
	padding-left: 10px;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

div.about .form-control:focus {
	background: transparent;
	border-bottom: 1px solid #ccc !important;
}

div.about .form-control {
	color: #fff
}

button.btn-primary {
	position: relative;
	top: 22px;
	border-radius: 0px;
	width: 144px;
	height: 51px;
	background: url(../images/navbar.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 1px solid #fff ;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}



div.about p.day {
	width: 65px;
	display: inline-block;
	color: #fff;
}

div.about input:-moz-placeholder {
	color: #0060C4
}

div.about input::-webkit-input-placeholder {
	color: #0060C4
}

div.about input::-ms-input-placeholder {
	color: #0060C4
}

/*****************************/
     /* Counter Section */
/*****************************/

.counter {
	font-size: 40px;
	color: #0060C4;
}

div.counter h3 {
	font-style: normal;
	font-family: 'Oswald', sans-serif;
}

div.count {
	padding-bottom: 25px;
}

div.counters {
	background: url(../images/20.jpg) no-repeat center center fixed ;
	box-shadow: inset 32px 34px 33px 2000px rgba(8, 8, 8, 0.85);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 40px;
	padding-top: 60px;
}

div.counters p {
	font-size: 22px;
	color: #fff;
	font-family: 'Open Sans';
}

div.counters i,
div.counters img {
	padding: 5px;
	color: #0060C4
}

div.counters img {
	width: 60px;
	margin: auto
}



/*******************************/
      /* Service Section */
/*******************************/

div.service {
	background-color: rgba(204, 204, 204, 0.25);
	text-align: center;

}

div.service div.icon img {
	width: 56px;
	padding-bottom: 10px;
}

div.service i {
	padding: 5px;
}

div.service h4 {
	color: #0060C4;
	font-size: 16px;
}

div.service div.icon {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin-bottom: 30px;
}

div.icon > i {
	color: #0060C4;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

div.service div.icon:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	box-shadow: none ;
}


/****************************/
     /*Video Section*/
/***************************/

.video {
	height: 400px;
	background: url(../images/60.jpg) no-repeat center center fixed ;
	box-shadow: inset 32px 34px 33px 2000px rgba(0, 42, 196, 0.58);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		height: 400px;

}
.video-btn {
	background: transparent;
	border-radius: 50%;
	border: 3px solid #fff;
	display: inline-block;
	font-size: 34px;
	height: 70px;
	line-height: 67px;
	color: #fff;
	text-align: center;
	width: 70px;
	position: absolute;
	left: 50%;
	margin-left: -35px;
    top:160px;
}

a.video-play-icon i {
	margin-left: 10px;
	top: -2px;
	position: relative;
		color: #fff;
}

/******************************/
    /*Department Section*/
/*****************************/


div.department {
	background: rgba(204, 204, 204, 0.23)
}


div.department div.text h3 {
	padding-top: 10px;
}

div.department .nav>li>a {
	padding: 7px 19px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.panel-tabs > li {
	float: left;
	margin-left: 24px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	border: 1px solid #0060C4;
	margin-bottom: 20px;
}

div.tab-pane h2 , .panel-heading h2 {
	color: #0060C4;
	font-size: 28px;
}



@media(max-width:767px) {
	.panel-heading p,
	.panel-heading h2 {
		text-align: center
	}
	.panel-heading h2{
			font-size: 24px;
				
	}

	div.department .panel-title a.link p {
		display: inline-block;
		    padding-left: 9px;
    font-size: 18px;
	}
	div.department .panel-title a.link img {
		width: 50px;
	}
	div.department div.panel-collapse div.row div.text-center img {
		width: 180px;
		margin-bottom: 27px;
	}
}

@media(max-width:992px) {
	.nav.panel-tabs {
		display: block;
	}
	.nav.panel-tabs li a.link p {
		display: none
	}
	div.department .nav>li>a {
		padding: 7px 15px  ;
	}
	div.department-center {
		padding-right: 0;
	}
	.panel-tabs > li {
		margin-left: 20px ;
	}
}

.nav.panel-tabs {
	display: table;
	border-bottom: 1px solid transparent;

}

div.department .panel-body {
	background: rgba(204, 204, 204, 0.23);
}




.tab-content {
	display: inline-block;
	margin-top: 60px;
}


.panel-primary>.panel-heading {
	color: #222;
	padding-top: 55px;
	background-color: rgba(204, 204, 204, 0.23);
	border-color: transparent;
}

.panel-tabs > li >a {
	border: 1px solid #0060C4
}

div.panel {
	box-shadow: none;
}

div.tab-pane a {
	display: table;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

div.tab-pane a p,
div.department  div.text-center a p {
	border: 0px ;
	background: linear-gradient(3deg, #003d7e, #087fff);
	background: -webkit-linear-gradient(3deg, #003d7e, #087fff);
	background: -o-linear-gradient(3deg, #003d7e, #087fff);
	background: -moz-linear-gradient(3deg, #003d7e, #087fff);
	display: table;
	margin: auto;
	color: #fff;
	padding: 10px 36px;
}

.nav>li>a>img {
	width: 86px;
}

span.nav-container {
	width: 666px;
}

div.tab-pane img {
	width: 200px;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
	color: #222;
	cursor: default;
	transform: translateX(10px) translateY(10px);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background: transparent;
	border-radius: 0;
}

.panel-primary {
	border-color: transparent;
	border: 0
}


/********************************/
      /*Portfolio Section*/
/********************************/

.gallery-icons {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin-left: 0;
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 42, 196, 0.58);
	opacity: 0;
}
.gallery-icons i {
	transition: all 0.5s ease 0s;
	border-radius: 50%;
	padding: 10px;
	border: 2px solid #fff;
	font-size: 18px;
	color: #fff;
	position: relative;
	top: 40%;
	left: 0;
	
	opacity: 0;
}


.thumbnail {
	padding: 0 ;
	border-radius: 0;
	border: 0 ;
	position: relative;
	width: 100%;
}

 .thumbnail>img {
    width: 100% !important;
}
@media (min-width:570px) and (max-width:776px){
	.grid-item ,  .thumbnail>img {
		width: 50%;
		
	}
}


div.portfolios {
	padding-bottom: 70px;
	padding-top: 60px;
}

div.button-group {
	padding-bottom: 30px;
	padding-top: 30px;
}

.button-group div.button-group button:hover,
div.button-group button.is-checked {
	border: 1px solid #0060C4;
	-webkit-transition: all 0.5s ease-in-out;
	border-radius: 0;
	box-shadow: none;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	color: #0060C4;
}

div.button-group button {
	background: transparent;
	margin-bottom: 15px;
	box-shadow: none;
	margin-left: 6px;
	border: 1px solid transparent;
	display: inline-block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.grid-item {
	padding-bottom: 15px;
	padding-bottom: 15px;position: relative;
}

.grid-item:hover .gallery-icons {
	opacity: 1;
	transition: all 0.5s ease 0s;
}

.grid-item:hover .gallery-icons i {
	left: 50%;
	transition: all 0.5s ease 0s;
	opacity: 1;
}
.grid-item:hover .gallery-icons i.fa-link {
margin-left: -40px;

}



/******************************/
       /* News Section */
/******************************/

div.news  div.owl-nav {
	display: inline-block;
	left: 50%;
	position: relative;
	margin-left: -40px;
}

div.news .owl-prev,
div.news .owl-next {
	display: inline-block
}
.owl-carousel .owl-stage {
	padding-bottom: 20px;
}

div.news div.owl-carousel div.circle-next,
div.news div.owl-carousel div.circle-prev {
	border: #0060C4;
	width: 28px;
	background: #0060C4;
	height: 28px;
	border: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 7px;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	text-align: center;
}

div.news div.owl-carousel div.circle-prev:before {
	content: '\f054';
	font-family: 'FontAwesome';
	top: 3px;
	position: relative;
}

div.news div.owl-carousel div.circle-next:before {
	content: '\f053';
	font-family: 'FontAwesome';
	top: 3px;
	position: relative;
}
div.news .owl-carousel .owl-item img {
	display: block;
	width: 80px;
	padding: 16px;
}

div.news .owl-carousel .owl-dot {
	display: none
}

div.news {
	padding-top: 60px;
	padding-bottom: 80px;
	background: rgba(204, 204, 204, 0.25);
}

div.news h4 {
	display: inline-block;
	border-bottom: 1px solid #999;
	display: inline-block;
}

div.news span {
	padding-left: 14px;
	color: #0060C4;
}

@media(max-width:776px) {
	div.news span {
		display: block
	}
}

div.news a {
	text-decoration: none;
}

div.news a p {
	color: #0060C4
}

div.case {
	padding: 35px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	box-shadow: none;padding-top: 30px;
}

div.news p.text-center {
	padding-bottom: 35px;
}

div.case:hover,
div.news .owl-item.active.center {
	background: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	box-shadow: 0px 5px 25px 1px rgba(46, 61, 73, 0.2)
}

div.news .owl-item.active {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/*****************************/
     /*Partner Section*/
/****************************/

div.logo{
	padding-bottom: 40px;
}
div.logo .owl-carousel .owl-stage-outer {
	padding-top: 45px;
}

div.logo img {
	margin-bottom: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: 0;
}

div.logo img:hover,
div.logo div.owl-carousel.center .owl-item.active.center img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	background: #fff;
}

div.logo .container {
	width: 100%;
}


/******************************/
   /* Testimonial Section*/
/*****************************/

div.testimonials {
	background: url(../images/20.jpg) no-repeat center center fixed !important;
	box-shadow: inset 32px 34px 33px 2000px rgba(8, 8, 8, 0.85);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 40px;
	padding-top: 60px;
	padding-bottom: 70px;
	padding-top: 60px;
}

.main-gallery {
	background: transparent;
}

.gallery-cell {
	width: 100%;
}

.testimonial {
	text-align: center;
	max-width: 850px;
	margin: 10px auto 100px auto;
	padding: 0 20px;
}

.testimonial-avatar {
	width: 100px;
	border-radius: 50%;
}

.testimonial-quote {
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
	padding: 10px 0;
}

.testimonial-author {
	display: block;
	font-weight: 800;
	margin-top: 22px;
	color: #0060C4;
}

.flickity-page-dots {
	bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
	border: 0px !important;
	background: linear-gradient(3deg, #003d7e, #087fff);
	background: -webkit-linear-gradient(3deg, #003d7e, #087fff);
	background: -o-linear-gradient(3deg, #003d7e, #087fff);
	background: -moz-linear-gradient(3deg, #003d7e, #087fff);
	width: 4px;
	height: 35px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.flickity-page-dots .dot {
	display: inline-block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	width: 4px;
	height: 20px;
	margin: 0 8px;
	background: #fff;
	border-radius: 0;
	opacity: 1;
	cursor: pointer;
}

div.testimonials h1 {
	color: #fff 
}


/****************************/
       /* Team Section */
/****************************/

.our-team {
	text-align: center;
}

.social-media {
	position: relative;
}

.social-media img {
	width: 100%;
	height: 100%;
}

.social_media_team {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease 0s;
}

.team_social {
	list-style: none;
	padding: 0;
	position: relative;
	top: 90%;
	transition: all 0.3s ease 0s;
	opacity: 0;
	margin: auto;
}

.team_social > li {
	display: inline-block;
}

.team_social > li > a {
	width: 30px;
	height: 30px;
	line-height: 28px;
	display: block;
	color: #0060C4;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 15px 2px 0;
	font-size: 14px;
}

.post-title {
	border-bottom: 1px solid;
	color: #222;
	font-size: 15px;
	letter-spacing: 1px;
}

div.team {
	background: rgba(204, 204, 204, 0.25);
	padding-bottom: 100px;
}


.post {
	font-size: 17px;
	color: #0060C4;
	margin-top: 0;
	font-weight: 100;
	padding-top: 10px;
	line-height: 20px;
	letter-spacing: .5px;
}

div.team-prof {
	background: #fff;
	padding: 15px;
	box-shadow: 1px 1px 17px 2px #ccc;
}

.our-team:hover .social_media_team {
	background-color: rgba(0, 96, 196, 0.69);
	transition: all 0.5s ease 0s;
}

.our-team:hover .team_social {
	top: 80%;
	opacity: 1;
	transition: all 0.5s ease 0s;
}

@media screen and (max-width: 990px) {
	.our-team {
		margin-bottom: 30px;
	}
}


/***************************/
      /*Map Section*/
/**************************/

div.map {
	height: 400px;
}


/**************************/
    /* Footer Section */
/*************************/

div.footer {
	background-color: rgba(204, 204, 204, 0.25);
	padding-bottom: 90px;
}

div.footer input:-moz-placeholder,
div.footer textarea:-moz-placeholder {
	color: #0060C4
}

div.footer input::-webkit-input-placeholder,
div.footer textarea::-webkit-input-placeholder {
	color: #0060C4
}

div.footer input::-ms-input-placeholder,
div.footer textarea::-ms-textarea-placeholder {
	color: #0060C4
}

div.footer ul {
	list-style: none;
	padding: 0px;
	padding-bottom: 34px;
}

div.footer ul li p {
	font-weight: normal;
	height: 28px;
	width: 66px;
	padding: 3px;
	display: inline;
	margin-bottom: 13px;
	font-size: 17px;
	color: #fff;
}

div.data-contact ul li img {
	width: 30px;
	display: inline;
}

@media(max-width:387px) {
	div.data-contact ul li img {
		width: 24px;
	}
}

div.footer li {
	padding-top: 25px;
	color: #fff;
	font-size: 17px;
	font-family: 'Open Sans';
}

div.data-contact p.title,
div.data-contact h1 {
	color: #fff 
}

div.footer ul.quick-link li a:hover {
	color: #0060C4;
	padding-left: 9px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

div.footer div.contact-team hr {
	border-top: 2px solid #fff
}

div.footer div.contact-team h1 {
	color: #fff;
	font-weight: 900;
	padding-top: 50px;
}

div.footer div.tocuh-icon i {
	width: 25px;
	border: 1px solid;
	padding: 5px;
}

div.footer input {
	border-radius: 0px;
	height: 53px;
}

div.footer .form-control {
	border: 0px;
	color: #0060C4;
	border-radius: 0;
	background: #fff;
	border-bottom: 1px solid rgba(0, 96, 196, 0.82);
	-webkit-box-shadow: none;
	box-shadow: none;
}

div.footer hr {
	margin-left: 0;
	border-top: 2px solid #fff;
	width: 28%;
}

div.footer div.tocuh-icon p {
	padding-bottom: 0px;
}

div.footer i {
	color: #0060C4;
	margin-left: -5px;
	font-size: 27px;
}

div.footer h5 {
	color: #0060C4 !
}

div.footer textarea,
div.footer textarea.focus {
	color: #0060C4;
	box-shadow: none;
	height: 130px;
}

div.footer .box-1 {
	background: #fff;
	padding: 40px;
	padding-left: 15px;
	margin-top: 30px;
	box-shadow: 1px 1px 16px 2px rgba(153, 153, 153, 0.5)
}

@media(max-width:340px) {
	div.footer .data-contact {
		padding: 10px;
	}
	div.footer li {
		font-size: 15px;
	}
}

div.footer .btn-default {
	margin-top: 15px;
	border-radius: 0;
	padding: 16px;
	color: #fff;
	border: 0;
	border: 0px;
	background: linear-gradient(3deg, #003d7e, #087fff);
	background: -webkit-linear-gradient(3deg, #003d7e, #087fff);
	background: -o-linear-gradient(3deg, #003d7e, #087fff);
	background: -moz-linear-gradient(3deg, #003d7e, #087fff);
}

div .footer .touch-us {
	padding-left: 0;
	padding-right: 0
}
div.data-contact {
	background: url(../images/contact.png);
	background-position: center;
	border: 0px !important;
	box-shadow: inset 0 0 0 2000px rgba(0, 96, 196, 0.82);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 40px;
	margin-top: 30px;
}


/*****************************/
       /*Footer-Links*/
/*****************************/

div.social-links ul li {
	float: left;
	border: 1px solid #fff;
	margin-left: 6px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

div.social-links ul {
	list-style: none;
	display: inline-block;
	height: 50px;
	padding-left: 0px;
}

div.social-links ul li a {
	display: block;
	width: 30px;
	line-height: 2;
	height: 30px;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

div.social-links {
	background: #000;
	padding-bottom: 0px;
	padding-top: 38px;
}

div.social-links ul li:hover {
	background: #0060C4;
	color: #fff;
	border: 1px solid #0060C4;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}


/*******************************/


@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}